extends layout
block content
    include includes/nav
    div._container
        h2 Registered Vehicles
        div._text-right
            a._action-btn(href='/new-vehicle') Register Vehicle
        table
            tr
                th Serial Number
                th Seater Type
                th Color
                th Sacco Name
                th Driver ID
            each vehicle in vehicles
                tr
                    td= vehicle.serial
                    td= vehicle.seatertype+' Seater'
                    td= vehicle.color
                    td= vehicle.sacconame
                    td= vehicle.driverid